body {
    font-family: Calibri, sans-serif;
    margin: 0;
}
h1 {
    margin: 0;
}

.all-secs {
  height: 100vh;
  padding: 40px;
}

#exposition, #exposition2 {
    background: #7E827A;
    color: #fff;
}
#choice1, #choice2 {
  background: #E6B098;
  color: #000;
}
#cipher {
    background: #2F343B;
    color: #000;
}
#pw:hover {
  background-color: yellow;
}
#source {
    background: #332F29;
    color: #fff;
}
#map1 {
    background: #8FA68E;
    color: #fff;
}
#map2 {
    background: #C77966;
    color: #fff;
}

#firstmap { height: 500px; }

#secondmap { height: 500px; }

#finale1, #finale2 {
  background: #703030;
  color: #fff;
}
#finalquestion {
    background: #1E1E20;
    color: #fff;
}
#check1 {
    background: #DC3522;
    color: #fff;
}
#check2 {
    background: #2E0927;
    color: #fff;
}
#ending1 {
    background: #F9E4AD;
    color: #000;
}
#ending2 {
    background: #979C9C;
    color: #000;
}
